*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0%;
    margin-left: 20%;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 30px;
    border: 2px #FFD600;
    background-color: #FFD600;
    margin-left: 40px;
    margin-right: 40px;

}
#cat{
padding:10px 40px;
border:1px solid white;
border-radius: 10px;
}
#search{
padding: 10px 80px;
border:1px solid white;
border-radius: 10px;
}
#flag{
    width:30px;
    height:20px;
}
.nav1 ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    align-items: center;

}
.nav1 li a{
    text-decoration: none;
    justify-content: space-between;
    color:black;
  
}
#logo{
    width:30px;
    height:30px;
   
}
/* @media (min-width: 600px) and (max-width: 768px) { */
    /* body{  */
    /* } */
  /* } */

  .sec1{
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;

}
.lord{
    width: 600px;
    height: 400px;}
.box{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.numbers{
    display:flex;
    padding:20px 20px;
   
}
#num{
    border: 2px solid gray;
    padding:10px 10px;
    margin:0px 10px;
}
#Series{
    margin:10px 0px;
    padding:15PX 130PX;
}
#select{
    margin:10px 0px;
    padding:15px 200px;
    background-color:#FFD600;
}
.ser1{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}

#but1, #but2,#but3, #but4{
    margin:10px 10px;
    border-radius: 10px;
    padding:2px;
}
#but1, #but3, #but4{
    background-color: #E70062;
    border: 1px solid #E70062
}
#but2{
    background-color: #FFD600;
    border: 1px solid #FFD600;
}
.ser2{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}
.price{
    display: flex;
}
#image{
    width: 250px;
    height: 250px;
}
#img2{
    width:250px;
    height:200px;
    padding:20px 20px;
}
.box9,.box10, .box11, .box12{
    display: flex;
}
#img3{
    width:350px;
    height: 200px;
    padding:20px 20px;
    margin:20px 10px;
    border: 2px solid white;
    border-radius: 50px;
}
#img4{
    width:200px;
    height:200px;
    padding: 20px 30px;
    margin:20px 10px;
    border: 2px solid white;
    border-radius: 50px;
}
.ser4{
    display: flex;
    justify-content: space-around;
}
#img5{
    margin:20px 20px;
    width:300px;
    height:300px;
    padding:20px 20px;

}
.ser5{
    display: flex;
    margin:20px 40px 0px 40px;
    padding:20px  20px 0px 20px;
    background-color: #FFD600;
    border:2px solid 
}
#email{
  padding: 20px 60px;
  margin-left:80px;
  background-color: white;
  border:2px solid gainsboro;
  border-radius: 10px;
}
#send{
    margin:0px 0px;
    padding:0px 20px;
    border:2px solid #E70062;
    border-radius: 10px;
    background-color: #E70062;
}
.footer{
    display: flex;
    margin:0px 40px;
    background-color: #26004C;
    color:white;
}
#head{
    padding:40px;
    text-align: center;
}
#more{
    margin-left: 50%;
    border:1px solid#FFD600;
    background-color: #FFD600;
    border-radius: 10px;
    padding: 10px 10px;
}
.foot1, .foot2, .foot3, .foot4{
    padding:0px 60px 0px 60px;
}
#icon{
    margin:20px 20px;
    padding:20px 20px;
}
#range{
    padding: 20px;
}
.box11, .box12{
    justify-content: space-around;
}
.foot1 ul{
list-style-type: none;
}
.foot2 ul{
list-style-type: none;
    }
.foot3 ul{
list-style-type: none;
        }
.foot1 ul li{
           
padding:10px;
            }
.foot2 ul li{
           
padding:10px;
            }
.foot3 ul li{
           
padding:10px;
             } 
.foot1 ul li a{
           
text-decoration: none;

}                            
.foot2 ul li a{
    text-decoration: none;
    
    }
.foot3 ul li a{
    text-decoration: none;
    
        }   
        #hfoot{
            padding-bottom: 10px;
            padding-right: 10px;
        }
/*  */
    /* @media screen  and (max-width){ */
        
        /* .sec1{ */
            /* display: flex; */
            /* flex-direction: column; */
            /* width:100%; */
        
        /* } */
    /* } */

    @media (max-width: 900px) {
       
        .nav1,.nav2{
            flex-direction: column;
            width: 30%;
            padding-bottom: 5%;
        }
        .lord{
            width: 100%;
            height: auto;
        }
        .sec1 {
          flex-direction: column;
          width: 20%;
        }
        .ser1,.ser2,.ser3, .ser4, .ser5, .footer {
            flex-direction: column;
            width: 20%;
            height: auto;
          }
          .box9, .box10, .box11, .box12{
              flex-direction: column;
              width: 20%;
          }
          .flex2{
              width:30%;
          }
      }

    