*{
    margin:0;
    padding:0;
}

ul{
    display: flex;
}
li{
    list-style-type: none;
    padding: 0px 40px;
    margin-left: 40px;
}
.nav2{
    display: flex;
    margin: 20px 20px;
    padding:10px 20px;
    background-color: #FFD600;

}
#brick{
    width:30px;
    height:30px;
    margin: 0px;
    padding:0px 30px;
}
#text{
    padding:0px 0px;
}
#cat{
margin:10px 30px;
padding:10px 40px;
}
#search{
    margin:10px 30px;
padding:10px 80px;
}
#lord{
    width:500px;
    height:auto;
}
.sec1{
    display:flex;
    justify-content: space-around;
}
.flex2{
    border: 1px solid gray;
    padding: 0px 60px 60px 20px;
}
.box{
    display: flex;
    justify-content: space-between;
}
#box1{
    border: 2px solid #FFD600;
    padding:10px 20px;
}
.numbers{
    display:flex;
    padding:20px 20px;
   
}
#num{
    border: 2px solid gray;
    padding:10px 10px;
    margin:0px 10px;
}
#Series{
    margin:10px 0px;
    padding:15PX 130PX;
}
#select{
    margin:10px 0px;
    padding:15px 200px;
    background-color:#FFD600;
}
.ser1{
    display: flex;
}
#image{
    width:250px;
    height:250px;
    padding: 20px 20px;
}
#but1, #but2,#but3, #but4{
    margin:0px 10px;
    border-radius: 10px;
}
#but1, #but3, #but4{
    background-color: #E70062;
}
#but2{
    background-color: #FFD600;
}
.ser2{
    display: flex;
}
#img2{
    width:250px;
    height:200px;
    padding:20px 20px;
}
.box9,.box10, .box11, .box12{
    display: flex;
}
#img3{
    width:350px;
    height: 200px;
    padding:20px 20px;
    margin:20px 10px;
    border: 2px solid white;
    border-radius: 50px;
}
#img4{
    width:200px;
    height:200px;
    padding: 20px 30px;
    margin:20px 10px;
    border: 2px solid white;
    border-radius: 50px;
}
.ser4{
    display: flex;
}
#img5{
    margin:20px 20px;
    width:300px;
    height:300px;
    padding:20px 20px;

}
.ser5{
    display: flex;
    margin:20px 40px 0px 40px;
    padding:20px  20px 0px 20px;
    background-color: #FFD600;
}
#email{
    padding: 20px 60px;
  margin-left:80px;
  background-color: white;
  border:2px solid gainsboro;
  border-radius: 10px;
}
#send{
    margin:0px 0px;
    padding:0px 20px;
    border:2px solid #E70062;
    border-radius: 10px;
    background-color: #E70062;
}
.footer{
    display: flex;
    margin:0px 40px;
    background-color: #26004C;
}
#head{
    padding:40px;
    text-align: center;
}
#more{
    margin-left: 50%;
    border:2px solid#FFD600;
    background-color: #FFD600;
    border-radius: 10px;
    padding: 10px 10px;
}
.foot1, .foot2, .foot3, .foot4{
    padding:0px 60px 0px 60px;
}