
.nav1{
    display: flex;
    align-items: center;
    padding-top: 0%;
    margin-left: 20%;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 30px;
    border: 2px #FFD600;
    background-color: #FFD600;
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;

}
#cat{
padding:10px 40px;
border:1px solid white;
border-radius: 10px;
}
#search{
padding: 10px 80px;
border:1px solid white;
border-radius: 10px;
}
#flag{
    width:30px;
    height:20px;
    margin-left: 10%;
}
.nav1 ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    align-items: center;

}
.nav1 li a{
    text-decoration: none;
    justify-content: space-between;
    color:black;
  
}
#logo{
    width:30px;
    height:30px;
}
#home{
    width:20px;
    height:20px;
}

.products{
    border:2px solid black;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;

} 
.class1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 4%;
}
#save{
    margin-top: 5%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    margin-left: 4%;
    margin-bottom: 5%;
    border:1px solid green;
    background-color: whitesmoke;
    border-radius: 10px;
}
/* .class1{
    width:40%;
} */
#order{
    margin-top: 5%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 10px;
    margin-left: 4%;
    margin-bottom: 5%;
    background-color: #FFD600;
    color:white;
    border-radius:10px;
    border:1px solid #FFD600;
}
.container1{
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
} 

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#stars{
    width:20px;
    height:20px;
}
#img1{
    width:20%;
    margin-left: 4%;
}
.walker{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 40px;
}

#discount{
    border:1px solid #E70062;
    background-color: #E70062;
    border-radius: 5px;
}
#img4{
    width:60%;
}
#img5{
    width:60%;
}
#img2{
    width:30%;
   
}
#img3{
    width:25%;
    margin-left: 4%;
}
#img6{
    width: 40%;
}
#img7{
    width: 40%;
}
.parag{
    padding-left: 40px;
}
.parag h4{
    font-size: 130%;
}
.parag i{
font-size: 160%;
}
#yelobox{
color:#ffd600
}
#grey{
color: gainsboro;
}
.ord{
 display: flex;
}
.cont{
display: flex;
justify-content: space-between;
padding: 0 5%;
}
#inst{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#252525
}
#PA{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.product{
    border:  solid thin gainsboro;
    padding:20px;
    border-radius: 20px;
    margin-bottom: 170px;
}
.save70{
    padding: 9px;
    width: 270px;
    border:solid thin aqua;
    border-radius: 5px;
    color: aqua;
    background-color: white;
}
.order{
    padding: 9px;
    width: 270px;
    margin-top: 15px;
    color: white;
    background-color: #FFD600;
    border: transparent;
    border-radius: 5px;
}

.footer{
    display: flex;
    margin:0px 40px;
    background-color: #26004C;
    border:1px solid #26004C ;
    padding: 20px;
    color:white;
}
.foot1 ul{
list-style-type: none;
}
.foot2 ul{
list-style-type: none;
    }
.foot3 ul{
list-style-type: none;
        }
.foot1 ul li{
           
padding:10px;
            }
.foot2 ul li{
           
padding:10px;
            }
.foot3 ul li{
           
padding:10px;
             } 
.foot1 ul li a{
           
text-decoration: none;
color:white;
}                            
.foot2 ul li a{
    text-decoration: none;
    color:white;
    }
.foot3 ul li a{
    text-decoration: none;
    color: white;
        }   
        #hfoot{
            padding-bottom: 10px;
            padding-right: 10px;
        }


.foot1, .foot2, .foot3, .foot4{
    padding:0px 60px 0px 60px;
}

.foot1 ul{
list-style-type: none;
}
.foot2 ul{
list-style-type: none;
    }
.foot3 ul{
list-style-type: none;
        }
.foot1 ul li{
           
padding:10px;
            }
.foot2 ul li{
           
padding:10px;
            }
.foot3 ul li{
           
padding:10px;
             } 
.foot1 ul li a{
           
text-decoration: none;
color:white;
}                            
.foot2 ul li a{
    text-decoration: none;
    color:white;
    }
.foot3 ul li a{
    text-decoration: none;
    color:white;
        }   
        #hfoot{
            padding-bottom: 10px;
            padding-right: 10px;
        }

        @media (min-width: 300px) and (max-width: 950px){
               .nav1{
                   display: grid;
                   grid-template-columns: 1fr;
                   margin-left: 0;
                   width:100%;
               }
               .nav2{
                   display:grid;
                   grid-template-columns: 1fr;
                   margin-left: 0;
                   width:100%;
                  margin-top: 10%;
                  background-color: #FFD600;
                  margin-bottom: 10%;
               }
              .cont{
                  display: grid;
                  grid-template-columns: 1fr;
              }
              .ord{
                  display: grid;
                  grid-template-columns: 1fr;
              }
              .parag{
                  display: grid;
                  grid-template-columns: 1fr;
                  width:70%;
              }
              .parag2{
                  display:grid;
                  grid-template-columns: 1fr;
                  width:30%;
              }
               .sec1{
                   grid-template-columns: 1fr;
                   width:100%;
                   
                
               }
               #cat,#search{
                   width:30%;
                   margin-top: 10%;
               }
               #icon{
                   margin-top: 1%;
               }
               .container1{
                   grid-template-columns: 1fr;
                   width:100%;
                   margin-top: 40%;
               }
               .container2{
                   grid-template-columns: 1fr;
                   width:80%;
               }
               #your{
                   margin-top: 18%;
               }
               .product{
                   margin-top: 10%;
                   width:70%;
               }
               .products{
                   grid-template-columns: 1fr;
                   width:93%;
                   margin-top: 40%;
                   margin-bottom: 10%;
               }
               #save{
                   width:70%;
               }
               #order{
                   width:70%;
               }
               .footer{
                   display: grid;
                   grid-template-columns: 1fr;
                   margin-left: 0;
                   width:100%;
               }
               .foot1,.foot2,.foot3,.foot4,.last{
                   margin-left:0 ;
               }
        }
         /* @media (min-width: 300px) and (max-width: 950px){
    .nav1{
              grid-template-columns: 1fr;
          }
            .nav2{
        
                /* grid-template-columns: 1fr; */
                /* padding: 20px;
                margin-left: 0;
                width:40%
            }
            #cat{
                width:20%;
            }
            #save{
                width:30%;
                padding-left: 20px;
                padding-right: 40px;
            }
            #order{
                width:30%;
                padding-left: 20px;
                padding-right: 40px;
            }
            .sec1{
                display: grid;
                grid-template-columns: 1fr;
                width:100%;
            }
            .container1{
                grid-template-columns: 1fr;
                width:100%;
                justify-content: space-between;
            }
            .container2{
                grid-template-columns: 1fr;
                width: 100%;
            }
            .footer{
                display: grid;
                grid-template-columns: 1fr;
                margin-left: 0;
                width:100%;

            }
            .products{
                display: grid;
                grid-template-columns: ifr;
                width:20%;
                font-size: 30%;
            }
            #save,#order{
                width:10%;
                font-size: 20%;
                
            }
        }  */