.nav1{
    display: flex;
    align-items: center;
    padding-top: 0%;
    margin-left: 20%;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-right: 30px;
    border: 2px #FFD600;
    background-color: #FFD600;
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;

}
#cat{
padding:10px 40px;
border:1px solid white;
border-radius: 10px;
}
#search{
padding: 10px 80px;
border:1px solid white;
border-radius: 10px;
}
#flag{
    width:30px;
    height:20px;
    margin-left: 10%;
}
.nav1 ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    align-items: center;

}
.nav1 li a{
    text-decoration: none;
    justify-content: space-between;
    color:black;
  
}
#logo{
    width:30px;
    height:30px;
}
#home{
    width:20px;
    height:20px;
}

.container1{
  display: grid;
  grid-template-columns: 2fr 1fr;
  
}
.products{
    margin-top: 10%;
    border:2px solid black;
    border-radius: 20px;
}
.class1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-top: 4%;
}
#save,#order{
    margin-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10px;
    margin-left: 4%;
    margin-bottom: 5%;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#stars{
    width:20px;
    height:20px;
}
#img1{
    width:30%;
}

.box1,.box3,.box2{
    display: flex;
    
}
#img4{
    width:60%;
}
#img5{
    width:60%;
}
#img2{
    width:30%;
   
}
#img3{
    width:35%;
}
#img6{
    width: 40%;
}
#img7{
    width: 40%;
}
.footer{
    display: flex;
    margin:0px 40px;
    background-color: #26004C;
    border:1px solid #26004C ;
    padding: 20px;
    color:white;
}
.foot1 ul{
list-style-type: none;
}
.foot2 ul{
list-style-type: none;
    }
.foot3 ul{
list-style-type: none;
        }
.foot1 ul li{
           
padding:10px;
            }
.foot2 ul li{
           
padding:10px;
            }
.foot3 ul li{
           
padding:10px;
             } 
.foot1 ul li a{
           
text-decoration: none;
color:white;
}                            
.foot2 ul li a{
    text-decoration: none;
    color:white;
    }
.foot3 ul li a{
    text-decoration: none;
    color: white;
        }   
        #hfoot{
            padding-bottom: 10px;
            padding-right: 10px;
        }


.foot1, .foot2, .foot3, .foot4{
    padding:0px 60px 0px 60px;
}

.foot1 ul{
list-style-type: none;
}
.foot2 ul{
list-style-type: none;
    }
.foot3 ul{
list-style-type: none;
        }
.foot1 ul li{
           
padding:10px;
            }
.foot2 ul li{
           
padding:10px;
            }
.foot3 ul li{
           
padding:10px;
             } 
.foot1 ul li a{
           
text-decoration: none;
color:white;
}                            
.foot2 ul li a{
    text-decoration: none;
    color:white;
    }
.foot3 ul li a{
    text-decoration: none;
    color:white;
        }   
        #hfoot{
            padding-bottom: 10px;
            padding-right: 10px;
        }
        @media (min-width: 300px) and (max-width: 950px){
            .nav1{
                grid-template-columns: 1fr;
                margin-left: 2%;
                width:100%;
               
            }
            .nav2{
                display:grid;
                grid-template-columns: 1fr;
                padding: 10%;
                width:100%;
                margin-left: 0;
            }
            #cat{
                width:60%;
            }
            .container1{
                grid-template-columns: 1fr;
                width:100%;
                justify-content: space-between;
            }
            .container2{
                grid-template-columns: 1fr;
                width: 100%;
            }
            .footer{
                display: grid;
                grid-template-columns: 1fr;
                margin-left: 0;
                width:100%;

            }
        }